// ================================================
// VARIABLES BOOTSTRAP PERSONALIZADAS
// ================================================
$body-bg: #f5f5f5;
$body-color: #333;
$primary: #BF0A8F;
$secondary: #F26938;
$heading-color:$primary;

$font-family-sans-serif: "Audiowide", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1.5rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;